<!-- Header -->
<header id="header">
    <div class="inner" style="display: flex;
    justify-content: center;">

        <!-- Logo -->
        <a href="{{ '/' | relative_url }}" class="logo" style="width: 20em; height: 20em;">
            <span class="symbol" style="width: 20em; height: 20em;"><img style="width: 20em; height: 20em; src="{{ site.data.header.logo_img_src | relative_url }}" alt="" /></span><span class="title"></span>
        </a>
        
        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>
